body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   align-items: center;
 }
 
 #chartdiv {
    margin-top: 3%;
   width: 100%;
   height: 70%;
 }
h1{
   font-size: 20px;
}
 .dg{
    border: black solid 1px;
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 100%);
    height: 5%;
    width: 1%;
 }
 